<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <h2>{{ productToEdit ? 'Editar Producto' : 'Añadir Nuevo Producto' }}</h2>

  <div class="form-group">
    <label for="name">Nombre del Producto</label>
    <input id="name" type="text" formControlName="name">
  </div>

  <div class="form-row">
    <div class="form-group">
      <label for="price">Precio</label>
      <input id="price" type="number" formControlName="price">
    </div>
    <div class="form-group">
      <label for="category">Categoría</label>
      <input id="category" type="text" formControlName="category">
    </div>
  </div>

  <div class="form-group">
    <label for="description">Descripción</label>
    <textarea id="description" rows="3" formControlName="description"></textarea>
  </div>

  <div class="form-group">
    <label for="imageUrl">URL de la Imagen</label>
    <input id="imageUrl" type="text" formControlName="imageUrl">
  </div>

  <button type="submit" [disabled]="productForm.invalid" class="submit-button">Guardar Producto</button>
</form>
