<div class="admin-layout-container">
  <aside class="admin-sidebar">
    <div class="sidebar-header">
      <h3>BaratongoVzla</h3>
      <span>Admin Panel</span>
    </div>
      <nav class="sidebar-nav">
        <a class="nav-link" routerLink="/admin/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <i class="bi bi-grid-1x2-fill"></i> Dashboard
        </a>
        <a class="nav-link" routerLink="/admin/productos" routerLinkActive="active">
          <i class="bi bi-box-seam-fill"></i> Productos
        </a>
        <a class="nav-link">
          <i class="bi bi-receipt"></i> Órdenes
        </a>
      </nav>
  </aside>

  <main class="admin-main-content">
    <router-outlet></router-outlet>
  </main>
</div>
